.search-wrap {
  border: 1px solid #282c34;
  margin: 0 auto;
  width: 30%;
  margin-top: 30px;
  position: relative;
}

.search-wrap__search-inp {
  background-color: transparent;
  background-image: url(../../public/assets/svg/search.svg);
  background-position: calc(100% - 20px);
  background-repeat: no-repeat;
  background-size: 20px;
  outline: none;
  border: 0;
  color: #000000;
  padding-left: 20px;
  font-size: 16px;
  height: 30px;
  margin-right: 0;
  width: 100%;
}

.search-wrap__search-inp:focus {
  background-color: white;
}

.search-wrap__clear-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(../../public/assets/svg/clear.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 5px;
  display: none;
  transform: scale(1);
  transition: 0.3s;
}

.search-wrap.search-wrap_active .search-wrap__clear-btn {
  display: block;
} 

.search-wrap.search-wrap_active .search-wrap__search-inp {
  background-image: none;
}

.search-wrap__clear-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.search-wrap__clear-btn:active {
  transform: scale(0.98);
  transition: transform 0.3s;
}

.films-wrap__msg {
  font-size: 24px;
  color: #282c34;
}