* {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 20px;
  margin: 60px auto 0;
  font-size: 16px;
}

.avatar-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-field__label {
  cursor: pointer;
  height: 30px;
  width: 60%;
  /* background-color: #c6c6c6; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}



.avatar-field__input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.avatar-img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  /* background-color: #c6c6c6; */
  border: dotted 1px #c6c6c6;
}

.avatar-img__uploaded {
  border-radius: 50%;
}

.text-field__input {
  width: 100%;
  height: 30px;
}

.select__label{
  margin: 0 0 5px;
}

.select {
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.text-field__label {
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #61dafb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #61dafb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

.submit-btn {
  height: 30px;
  font-size: inherit;
}
