
.backdrop {
  position: fixed;
  background-color: rgba(0,0,0, 0.5);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.popup {
  position: fixed;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #1a1d22;
  color: white;
  font-weight: 200;
  height: auto;
  padding: 50px;
  gap: 20px;
  top: 50%;
  left: 50%;  
  transform:translate(-50%, -50%);
}

.popup__img-wrap {
  min-width: 200px;
  height: auto;
}

.popup__img {
  width: 100%;
  height: auto;
 }

.popup__description {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.popup__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}

.popup__year {
  margin: 10px 0 20px 0; 
}

.popup__overview {
  border-top: solid 1px white;
  padding-top: 20px;
  line-height: 20px;
  text-align: justify;
  margin: 0;
}

.popup__close {
  position: absolute;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-image: url(../../../public/assets/svg/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: 20px;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;
}

.popup__close:hover {
  filter: invert(25%) sepia(62%) saturate(1457%) hue-rotate(167deg) brightness(107%) contrast(97%);
}





